@import "./mix/circular-placement";

.circle-container-4 {

  @include on-circle($item-count: 4, $circle-size: 35em, $item-size: 8em, $rotation: 100);
  margin: 5em auto 10%;
  border: dotted 4px black;

  img {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    border: solid 4px black;
    transition: .15s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .7);

    &:hover,
    &:active {
      filter: grayscale(0);
    }
  }
}

.circle-container-5 {

  @include on-circle($item-count: 5, $circle-size: 35em, $item-size: 8em, $rotation: 100);
  margin: 5em auto 10%;
  border: dotted 4px black;

  img {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    transition: .15s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .7);

    &:hover,
    &:active {
      filter: grayscale(0);
    }
  }
}

.circle-container-15 {

  @include on-circle($item-count: 15, $circle-size: 55em, $item-size: 8em, $rotation: 100);
  margin: 5em auto 10%;
  border: dotted 4px black;

  img {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    transition: .15s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .7);

    &:hover,
    &:active {
      filter: grayscale(0);
    }
  }
}
