<div class="gig-view" class="gig-view container">
  <div class="row">

    <div class="gig-description">
      <h2 class="col-md-6 pull-left">{{gig.name}}</h2>
      <div class="col-md-6 pull-right">
        <p>Details: </p>
        <p>{{gig.description}}</p>
        <p>{{gig.date}}</p>
      </div>
    </div> <!-- END OF GIG DESCRIPTION -->

    <div class="seats-div circle-container-{{seats.length}}">
      <div class="seat-card" ng-repeat="seat in seats">
        <!-- <a ng-href="#!/profile/{{seat.user_id}}"></a> -->
        <a href="" ng-click="startSearching(seat)"><img class="{{seat.status}}" ng-src="{{seat.user_id ? seat.user.picUrl : '/public/blank-user.png'}}" /></a>
        <p class="instrument-name">{{seat.instrument}}</p>
        <p ng-class="{hidden: seat.status === null, red: seat.status === 'pending', green: seat.status === 'accepted'}">[ {{seat.status}} ]</p>
      </div>
    </div> <!-- END OF SEATS DIV -->

    <div id="search-box" class="search-box" ng-show="searching">
      <hr />
      <h1>SEARCHING FOR {{targetSeat.instrument}}...</h1>
      <form class="zip-code-form" ng-submit="zipCodeSearch(zip, radius)">
        <div class="search-input-field">
          <label for="gig_describe">ZIP CODE:</label>
          <input id="gig_describe" ng-model="zip"></input>
        </div>
        <div class="search-input-field">
          <label for="search-radius">SEARCH RADIUS:</label>
          <input id="search-radius" type="number" class="validate" ng-model="radius" max="100" required>miles
        </div><br />
        <button class="ensem-btn" type="submit">SUBMIT</button>
      </form>
      <div class="user-search-results" ng-repeat="result in results">
        <div class ="search-result-card">
          <hr />
          <img src={{result.picUrl}} />
          <span>   {{result.first}} {{result.last}}   </span>
          <button ng-click="inviteToGig(result)">INVITE</button>
          <button ng-click="showMore(result)">MORE INFO</button>
          <div class="more-user-info" ng-if="result === moreInfoUser">
            <p>{{moreInfoUser.street}}</p>
            <p>{{moreInfoUser.city}} {{moreInfoUser.state}} {{moreInfoUser.zip}}</p>
            <a href=""><p>{{moreInfoUser.email}} {{moreInfoUser.id}}</p></a>
            <div id="map"></div>
          </div>
        </div>
      </div> <!-- END OF USER-SEARCH-RESULTS -->
    </div> <!-- END OF SEARCH-BOX -->

  </div> <!-- END ROW -->
</div> <!-- END CONTAINER -->
