<nav class="navbar">
  <div id="nav-bar">
    <a class="active" href="">Create a Gig</a>
    <a href="">My gigs</a>
    <a href="">Invites</a>
    <a href="">Profile</a>
  </div>
</nav>



<!-- <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="#">Ensemblist</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="about">About</a></li>
        </ul>
      </nav>
 -->
