<div class="container seat-select-div">
  <h3>Specify the required instruments</h3>
  <hr>

  <form ng-submit="goToGigView()">
    <div ng-repeat="seat in seats">
        <select ng-model="selected" ng-options="instrument.type for instrument in instruments" ng-change="$parent.saveInstrument(selected.type, seat.id)">
          <option ng-model="selected">{{instrument.type}}</option><span ng-if="seat.instrument">{{seat.instrument}}</span>
        </select>
    </div>
    <button class="ensem-btn" type="submit">SUBMIT</button>
  </form>

</div>
