/*_______UNIVERSAL STYLING______*/
body {
  background-color: #FF9800;
  /*background-image: radial-gradient(#F57C00, yellow);*/
  /*background: center/cover no-repeat fixed;*/
  margin-top: 40px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

a {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none  !important;
  font-weight: 1.5em;
}

hr {
  border-top: 1px solid #ccc;
}

.slogan {
  font-size: 3em;
  font-style: italic;
  color: #1c66ae;
  margin: 20% 0 5% 0;
}

.ensem-btn {
  margin-top: 2%;
  padding: 1em 1.8em 1em 1.8em;
  border: 2px solid #1c66ae;
  background: white;
}

.red {
  color: #c0392b;
}

.green {
  color: #27ae60;
}

.hidden {
  display: none;
}

/*_______NAVBAR______*/
.main-heading {
  display: flex;
  justify-content: space-between;
  margin: -3% 0 0 4%;
  align-items: center;
}

.logo {
  color: white;
  font-weight: 1em;
  font-family: 'Quicksand', sans-serif;
}
nav {
  display: inline-block;
  text-align: center;
  position: relative;
  float: right;
  margin: 0 3%;
  height: 3.2em;
}

nav #nav-bar {
  position: absolute;
  top: 100%;
  left: 0;
  height: 4px;
  background: #1c66ae;
}

nav a {
  display: inline-block;
  cursor: pointer;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  font-size: large;
  color: white;
  &.active {
    position: relative;
    &:after {
      // @extend #nav-bar;
      // content: "";
      // right: 0;
      // z-index: -1;
    }
  }
}

.nav-pic {
  max-width: 30px;

}

/*_______GIG INPUT VIEW______*/
.gig-input-div {
  background: white;
  border-radius: 6px;
  box-shadow: grey 3px 3px 20px;
  margin: 5% auto;
  padding: 2%;
}

input, textarea {
  text-align: center;
  border: 3px solid #FF9800;
  padding: 1%;
  margin: 1%;
  width: 25em;
}

.inputs {
  display: block;
  align-items: center;
}

.input-field {
  display: block;
}

/*_______SEAT SELECT VIEW______*/
.seat-select-div {
  background: white;
  border-radius: 6px;
  box-shadow: grey 3px 3px 20px;
  margin: 5% auto;
  padding: 2%;
}

.seat-select-div select {
  margin: 1%;
}


/*_______GIG VIEW______*/
.gig-view {
  background: white;
  border-radius: 6px;
  box-shadow: grey 3px 3px 20px;
  margin: 3%;
  padding: 1%;
}

.gig-description {
  display: flex;
  align-items: center;
  margin: 1% 0 4% 0;
}

.seats-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.seat-card img {
  height: 100px;
  border-radius: 50%;
  padding: 3%;
}

.seat-card {
  margin: 0 2% 0 2%;
}

.pending {
  border: 4px solid #c0392b;
}

.accepted {
  border: 4px solid #27ae60;
}

.search-box {
  margin: 0 0 3% 0;
}

.search-input-field {
  display: inline;
}

.search-input-field input {
  text-align: center;
  border: 3px solid #FF9800;
  padding: 1%;
  margin: 1%;
  width: 5em;
}

.zip-code-form {
  margin: 1% 0 2% 0;
}

.user-search-results {
  display: flex;
  justify-content: center;
}

.search-result-card {
  display: inline-block;
}

.search-result-card img {
  border-radius: 50%;
}

/*_______MY GIGS VIEW______*/
.my-gigs-div {
  display: grid;
  background: white;
  padding: 0 0 2% 5%;
  margin: 4% 0;
  justify-content: flex-start;
}

/*_______MY INVITES VIEW______*/
.invite-card {
  border: 1px solid black;
  background-color: #ddd;
  box-shadow: grey 1px 1px 1px;
  border-radius: 3px;
  margin: 1%;
  padding: 0 0 1% 0;
}

/*_______PROFILE VIEW______*/
.profile-card {
  width: 100%;
  background-color: white;
  padding: 4% 0 2% 0;
  margin: 3% 0 0 0;
}

.profile-pic {
  border-radius: 50%;
  height: 170px;
  width: 170px;
}

/*_______GOOGLE MAP STUFF______*/
#map {
  height: 400px;
  width: 102%;
  margin: 2% -1%;
 }
